[submodule "khan-exercises"]
	path = khan-exercises
	url = https://github.com/Khan/khan-exercises.git
[submodule "third_party/ace-builds"]
	path = third_party/ace-builds
	url = https://github.com/ajaxorg/ace-builds.git
[submodule "mathjax-renderer"]
	path = mathjax-renderer
	url = git@github.com:khan/mathjax-renderer
