[submodule "khan-exercises"]
	path = khan-exercises
	url = https://github.com/Khan/khan-exercises.git
[submodule "webkit2png"]
	path = webkit2png
	url = https://github.com/spicyj/webkit2png
[submodule "ace-builds"]
	path = ace-builds
	url = https://github.com/ajaxorg/ace-builds.git
[submodule "boto-src"]
	path = boto-src
	url = git://github.com/boto/boto.git
