body {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}
.graphie .error, #output .error {
    font: 12px Menlo, Courier, monospace;
    color: red;
    white-space: pre;
}
#left {
    float: left;
    margin-right: 10px;
    outline: 1px solid #ccc;
    width: 520px;
}
#editor {
    height: 600px;
    border-bottom: 1px solid #ccc;
}
#samples {
    display: none;
}
#output {
    float: left;
    min-height: 610px;
    outline: 1px solid #ccc;
    width: 480px;
    padding: 10px;
}
#output .graphie {
    outline: 1px dashed #df0030;
}
#output .size {
    font-size: 12px;
    color: #df0030;
    display: block;
    margin-top: 3px;
}

#controls {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
#controls .image-link {
    width: 276px;
}

#preview {
    padding: 5px;
}
#preview > form {
    display: inline-block;
}

.link-copied {
    display: none;
    padding: 2px;
    font-size: 12px;
}

.btn-rerender, .btn-create-svg {
    width: 160px;
    text-align: center;
}
