<script type="text/graphie" data-title="4. Triangle (old)">

// This template is old. Among other things, it uses old colors.
// Consider using drawPolygon() instead (see template 17)
var triangle = solveTriangle({
    sides: [13, 14, 15],
    angles: [null, null, null],
    sideLabels: ["a", "b", "c"],
    angleLabels: ["25^\\circ", null, null],
    vertexLabels: ["A", "B", "C"],

    xPos: 1,
    yPos: 1,
    width: 10,
    height: 6,
    rot: 0
});

triangle = addTriangle(triangle);
init({
    range: [[0, triangle.width + 2], [0, triangle.height + 2]]
});

triangle.draw();
</script>
