<script type="text/graphie" data-use-simple="true" data-range="[[-1, 11], [-3, 6]]" data-title="19. Simple Figure">
drawPolygon({
    points: [[0, 0], [0, 3], [7, 3], [7, 0]],
    sideLabels: ["$len0"],
    fill: GREEN_D,
    fillOpacity: 0.2,
    stroke: GREEN_E
});

drawPolygon({
    points: [[0, 3], [2, 6], [7, 3]],
    fill: GREEN_D,
    fillOpacity: 0.2,
    stroke: GREEN_E
});

drawPolygon({
    points: [[0, 0], [7, 0], [10, -3]],
    sideLabels: ["$len0"],
    fill: GREEN_D,
    fillOpacity: 0.2,
    stroke: GREEN_E
});

drawSegment({
   points: [[7, 0], [10, 0]],
   dashed: true,
    stroke: GREEN_E
});

drawSegment({
   points: [[10, 0], [10, -3]],
   sideLabel: "$len0",
   dashed: true,
    stroke: GREEN_E
});

drawAngleLabel({
    points: [[7, 0], [10, 0], [10, -3]],
    stroke: GREEN_E
});

drawSegment({
    points: [[2, 3], [2, 6]],
    dashed: true,
    sideLabel: "$len0",
    stroke: GREEN_E
});

drawAngleLabel({
    points: [[7, 3], [2, 3], [2, 6]],
    stroke: GREEN_E
});
</script>
