<script type="text/graphie" data-use-simple="true" data-range="[[0, 6], [0, 8]]" data-title="26. Octahedron Net">
/* Helper functions for drawing simple polygons            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
var triangleHeight = sqrt(3)/2;
var triangleOffset = triangleHeight/3;
var triangleBuffer = 1/2 - triangleOffset;

var rotatePoints = function(center, angle, points) {
    return _.map(points, function(pt) {
        return rotatePoint(pt, angle, center);
    });
};

var drawSimpleTriangle = function(description) {
    var x      = description.x || 0;
    var y      = description.y || 0;
    var rotate = description.rotate || 0;
    var base   = description.base || 1;
    var height = description.height || triangleHeight * base;
    var showLabels = description.showLabels || false;
    var centerOffset = description.centerOffset === undefined ?
            height/3 :
            description.centerOffset;

    var points = rotatePoints([x, y], rotate, [
        [x - base/2, y - centerOffset],
        [x, y + height - centerOffset],
        [x + base/2, y - centerOffset]
    ]);

    drawPolygon({
        points: points,
        angleLabels: [],
        sideLabels: [null, null, showLabels ? "$len0" : null],
        ticks: description.ticks,
        fill: GREEN_D,
        fillOpacity: 0.2,
        stroke: GREEN_E
    });
    if (showLabels) {
        baseMidpoint = lineMidpoint([points[0], points[2]]);
        drawSegment({
            points: [points[1], baseMidpoint],
            dashed: true,
            sideLabel: "$len0",
            stroke: GREEN_E
        });
        drawAngleLabel({
            points: [points[1], baseMidpoint, points[0]],
            stroke: GREEN_E
        });
    }
};
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


/* since our triangles have side length 2 */
var offset = 2 * triangleOffset;
var height = 2 * triangleHeight;

drawSimpleTriangle({
    x: 3,
    y: 4 + offset,
    base: 2,
    rotate: 0,
    ticks: [1, 1, 1]
});

drawSimpleTriangle({
    x: 2,
    y: 4 + 2 * offset,
    base: 2,
    rotate: 180,
    ticks: [1, 1, 1]
});

drawSimpleTriangle({
    x: 4,
    y: 4 + 2 * offset,
    base: 2,
    rotate: 180,
    ticks: [1, 1, 1]
});

drawSimpleTriangle({
    x: 3,
    y: 4 - offset,
    base: 2,
    rotate: 180,
    ticks: [1, 1, 1]
});

drawSimpleTriangle({
    x: 2,
    y: 4 - 2 * offset,
    base: 2,
    rotate: 0,
    ticks: [1, 1, 1]
});

drawSimpleTriangle({
    x: 4,
    y: 4 - 2 * offset,
    base: 2,
    rotate: 0,
    ticks: [1, 1, 1]
});

drawSimpleTriangle({
    x: 2,
    y: 4 - height - offset,
    base: 2,
    rotate: 180,
    ticks: [1, 1, 1]
});

drawSimpleTriangle({
    x: 4,
    y: 4 + height + offset,
    base: 2,
    rotate: 0,
    ticks: [1, 1, 1]
});
</script>
