<script type="text/graphie" data-title="27. Box Plot">

var axisLabel = "Axis label";
var color = BLUE_D;

/* Number line parameters */
var numberLineMin = 0;
var numberLineMax = 15;
var numberLineTickSize = 1;

/* Data distribution parameters */
var q0 = 2.5;
var q1 = 4;
var median = 5.5;
var q3 = 8;
var q4 = 11;

/* Outliers */
var outliers = [0.7, 13.4, 14.3];

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Normalize points to the size of the canvas, and set up  */
/* the canvas                                              */
var numberLineSpread = numberLineMax - numberLineMin;
var numberLineTickCount = numberLineSpread/numberLineTickSize;
var xrange = [ -0.5, numberLineTickCount + 0.5 ];
var yMin = axisLabel ? -4.5 : -3.5;

init({
    range: [xrange, [ yMin, 1.5 ]],
    scale: _.min([30, Perseus.Util.scaleFromExtent(xrange, 320)])
});
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

var normalize = function(number) {
    return ((number - numberLineMin) / numberLineSpread) *
        numberLineTickCount;
};
var denormalize = function(position) {
    return position * numberLineSpread / numberLineTickCount +
        numberLineMin;
};

/* Draw the number line */
var labelStep=Perseus.Util.tickStepFromExtent([numberLineMin,numberLineMax],320);
line([ 0, -2 ], [ numberLineTickCount, -2 ]);
for (tick = 0; tick <= numberLineTickCount; tick+=1) {
    var tickValue = denormalize(tick);
    line([ tick, -1.75 ], [ tick, -2.25 ]);
    if((tickValue-numberLineMin)%labelStep===0){
        label([ tick, -2.25 ], roundTo(1, tickValue), "below");
    }
}

var nq0 = normalize(q0);
var nq1 = normalize(q1);
var nmedian = normalize(median);
var nq3 = normalize(q3);
var nq4 = normalize(q4);

style({
    strokeWidth: 3,
    stroke: BLUE_D
});

// draw Q0
line([nq0, -0.2], [nq0, 0.2]);
line([nq0, 0], [nq1, 0]);

// draw median
line([nmedian, 1], [nmedian, -1]);
drawPolygon({
    points: [
        [nq1, -1],
        [nq1, 1],
        [nq3, 1],
        [nq3, -1]
        ],
    stroke: color,
    strokeWidth: 3,
    angleLabels: []
});

// draw Q4
line([nq4, -0.2], [nq4, 0.2]);
line([nq3, 0], [nq4, 0]);

// draw outliers
for (var i=0; i < outliers.length; i++) {
    drawPoint({point: [outliers[i],0], color: BLUE_D});
}

// axis label
if (axisLabel) {
    label([numberLineTickCount/2, -3.4], axisLabel, "below", false, {"font-weight": "bold"});
}
</script>
