{% extends 'plain_graph.html' %}

{% block head %}
{{super()}}
{% endblock head %}

{% block content %}
<div id="left">
<div id="editor"></div>

{% include "setup_templates.html" %}

<div id="samples">
<script type="text/graphie" data-title="0. Blank page"></script>
{% include "01_simple_plot.html" %}
{% include "01a_simple_plot_SAT.html" %}
{% include "02_piecewise_function.html" %}
{% include "03_parametric_plots.html" %}
{% include "04_triangle_old.html" %}
{% include "05_tape_diagram.html" %}
{% include "06_area_model.html" %}
{% include "07_number_line.html" %}
{% include "08_place_value_blocks.html" %}
{% include "09_trigonometric_function.html" %}
{% include "10_arrow_table.html" %}
{% include "11_pie_chart.html" %}
{% include "12_area_model_2.html" %}
{% include "13_intro_to_the_drawing_api.html" %}
{% include "14_angle_between_lines.html" %}
{% include "15_complementary_angles.html" %}
{% include "16_complementary_angles_2.html" %}
{% include "17_polygon.html" %}
{% include "18_regular_polygon.html" %}
{% include "19_simple_figure.html" %}
{% include "20_complex_figure.html" %}
{% include "21_3d_example.html" %}
{% include "22_rectangular_prism_net.html" %}
{% include "23_square_pyramid_net.html" %}
{% include "24_triangular_prism_net.html" %}
{% include "25_tetrahedron_net.html" %}
{% include "26_octahedron_net.html" %}
{% include "27_box_plot.html" %}
{% include "28_dot_plot.html" %}
{% include "29_polar_plot.html" %}
{% include "29a_polar_plot_with_tangent_line.html" %}
{% include "30_fraction_pie.html" %}
{% include "31_analog_clock.html" %}
{% include "32_image_library.html" %}
{% include "33_image.html" %}
{% include "34_ten_frame.html" %}
{% include "35_drawing_helper_functions.html" %}
{% include "36_five_frame.html" %}
{% include "37_shade_area_under_curve.html" %}
{% include "38_riemann_sums.html" %}
{% include "39_bar_plot.html" %}
{% include "40_shade_area_between_curves.html" %}
{% include "40a_shade_horizontal_area_between_curves.html" %}
{% include "41_shade_area_bounded_by_polar_curve.html" %}
{% include "42_slope_field.html" %}
{% include "43_histogram.html" %}
{% include "44_segmented_bar_graph.html" %}
{% include "45_side_by_side_bar_graph.html" %}
{% include "46_venn_diagram.html" %}
{% include "47_parallel_box_plots.html" %}
</div>


<div id="controls">
  <input type="button" value="Regraph" class="btn-rerender">
  <select class="example-selector"></select><br>
  <input type="button" value="Convert to Image" class="btn-create-svg">
  <input type="text" class="image-link" readonly="" /><span class="error-text"></span><span class="convert-throbber"><img src="/static/images/throbber.gif" /></span>
</div>

<div id="preview">
  Load rendered image:
  <input type="text" class="preview-input" name="url" />
  <button class="preview-input-button">Load</button>
</div>

</div>

<div id="output">
  <div class="graphie"></div>
  <span class="size"></span>
</div>

{% endblock content %}

{% block scripts %}

{{super()}}
<script src="/static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>

<script>
if (navigator.registerProtocolHandler) {
    navigator.registerProtocolHandler(
        "web+graphie",
        "http://" + location.host + "/?preload=%s",
        "Graphie-to-png handler"
    );
}

keUtilsLoaded.then(function() {
    var editor = ace.edit("editor");
    var session = editor.getSession();

    var $samples = $("#samples").children();
    var $sampleSelect = $(".example-selector");
    var gridSetupPre = $("#grid-setup-pre").html();
    var gridSetupPost = $("#grid-setup-post").html();
    var simpleSetupPre = $("#simple-setup-pre").html();
    var simpleSetupPost = $("#simple-setup-post").html();
    var polarSetupPre = $("#polar-setup-pre").html();
    var polarSetupPost = $("#polar-setup-post").html();
    var satGridSetupPre = $("#sat-grid-setup-pre").html();
    var satGridSetupPost = $("#sat-grid-setup-post").html();
    var nonsquareGridSetupPre = $("#nonsquare-grid-setup-pre").html();
    var nonsquareGridSetupPost = $("#nonsquare-grid-setup-post").html();
    var samples = _.map($samples, function(el, i) {
        var $el = $(el);
        var code = $el.html();
        if ($el.data("use-grid")) {
            code = gridSetupPre + code + gridSetupPost;
        }
        if ($el.data("use-simple")) {
            var range = $el.attr("data-range") || "[[-10, 10], [-10, 10]]";
            code = simpleSetupPre.replace("RANGE", range) + code + simpleSetupPost;
        }
        if ($el.data("use-polar")) {
            code = polarSetupPre + code + polarSetupPost;
        }
        if ($el.data("use-sat")) {
            code = satGridSetupPre + code + satGridSetupPost;
        }
        if ($el.data("use-nonsquare")) {
            code = nonsquareGridSetupPre + code + nonsquareGridSetupPost;
        }
        var sample = {
            title: $el.data("title"),
            js: $.trim(code) + "\n"
        };
        $("<option>")
                .val(i).text(sample.title)
                .data("js", sample.js)
                .appendTo($sampleSelect);
        return sample;
    });

    var sampleJS = samples[0].js;
    session.setValue(sampleJS);

    // $(window).on("beforeunload", function() {
    //     if (session.getValue() !== sampleJS) {
    //         return "All modifications will be lost.";
    //     }
    // });

    $sampleSelect.val(0).on("change", function() {
        var i = +$(this).val();
        sampleJS = samples[i].js;
        editor.setValue(sampleJS, /* cursorPos: */ -1);
        updateGraphie();
    });

    session.setMode("ace/mode/javascript");
    session.setUseWrapMode(true);

    var isMac = (/mac/i).test(navigator.platform);
    $(document).on("keydown", function(e) {
        if (e.keyCode === "R".charCodeAt(0) &&
                (e.ctrlKey || e.metaKey) && !e.altKey && !e.shiftKey) {
            e.preventDefault();
            updateGraphie();
        } else if (e.keyCode === 8) { // Backspace
            // Do nothing if focused in text box
            // ACE search field doesn't have type attr so selecting by class
            var textInputHasFocus =
              $("input[type='text'], input.ace_search_field").is(':focus');
            if (!textInputHasFocus) {
              var message = "Are you sure you want to leave the page?";
              var leave = window.confirm(message);
              if (!leave) {
                e.preventDefault();
              }
            }
        }
    });
    $(".btn-rerender")
            .val(function() {
                if (isMac) {
                    return "Regraph (\u2318R)";
                } else {
                    return "Regraph (Ctrl-R)";
                }
            })
            .on("click", updateGraphie);

    var throbber = $(".convert-throbber");
    throbber.hide();

    $(".image-link").hide().click(function() {
        $(this).select();
    });

    $(".btn-create-svg").on("click", function(e) {
        throbber.show();
        var js = editor.getValue();

        // To get identical hashes to the old graphie-to-png, we replace all
        // newlines with "\r\n"
        js = js.replace(/\r\n|\n|\r/g, "\r\n");

        $(".error-text").text("");
        $(".image-link").hide().val("");
        $.ajax({
            url: "/svg",
            type: "POST",
            data: {
                js: js
            },
            success: function(data) {
                $(".image-link").show().val(data);
            },
            error: function(a, b, error) {
                $(".error-text").text("Error: " + error);
            },
            complete: function() {
                throbber.hide();
            }
        });
    });


    var urlStart =
        "(?:" +
        "ka-perseus-graphie\\.s3\\.amazonaws\\.com/" +
        "|" +
        "fastly.kastatic.org/ka-perseus-graphie/" +
        ")";
    var hashMatch = "[a-f0-9]{40}";
    var urlMatcher = new RegExp(
        "web\\+graphie://" + urlStart + "(" + hashMatch + ")|" +
        "https://" + urlStart + "(" + hashMatch + ").png");

    function loadUrl(url) {
        var match = url.match(urlMatcher);
        if (match) {
            var hash = match[1] || match[2];
            $.ajax({
                url: "https://ka-perseus-graphie.s3.amazonaws.com/" + hash +
                   ".js",
                dataType: "text",
                success: function(data) {
                    editor.setValue(data, -1);
                    updateGraphie();
                },
                error: function() {
                    alert("It looks like that image doesn't exist..");
                }
            });
        } else {
            alert("Bad url!");
        }
    }

    $(".preview-input-button").on("click", function(e) {
        var url = $(".preview-input").val();

        loadUrl(url);
    });

    $(".preview-input").keyup(function(e) {
        if (e.keyCode === 13) {
            var url = $(".preview-input").val();

            loadUrl(url);
        }
    });

    var storedValue = null;
    var formSubmit = $(".btn-create-svg");

    function updateGraphie() {
        try {
            var js = editor.getValue();

            // Invalid backspace characters cause problems in translation,
            // where a match between original and translated string may not be
            // found.
            (js.match(/\\+(b|x08)/g) || []).forEach(function(match) {
                // Count the number of backslashes in the matched string.
                var backslashes = match.split("").reduce(function(count, ch) {
                    return count + (ch === "\\" ? 1 : 0);
                }, 0);
                // An odd number indicates an unescaped backslash, resulting
                // in backspace character in the string.
                if (backslashes % 2) {
                    throw SyntaxError(
                        "Graphie contains backspace character (\\b \\x08)");
                }
            });

            $("#output > div")
                    .data("graphie", null)
                    .removeClass("error")
                    .text(js).graphie();

            // This should throw an error if there is a problem with the labels
            window.getData();

            $("#output > .size")
                    .empty()
                    .text($(".graphie").width() + " x " + $(".graphie").height());

            formSubmit.attr("disabled", false);

            storedValue = js;

            $(".error-text").text("");
            $(".image-link").hide().val("");
        } catch (e) {
            $("#output > div")
                    .addClass("error")
                    .text(e.name + ": " + e.message);

            $("#output > .size").empty();

            formSubmit.attr("disabled", true);

            storedValue = null;

            if (typeof console !== "undefined") {
                console.log(e.stack);
            }
        }
    }
    updateGraphie();

    editor.addEventListener("change", function() {
        formSubmit.attr("disabled", editor.getValue() !== storedValue);
    });

    // Hack to allow appending #5 to url to auto-load template 5
    var hash = window.location.hash.substring(1);
    var sample = _.find(samples, function(sample) {
            return sample.title.slice(0, hash.length) === hash;
        });
    if (hash !== "" && sample) {
        sampleJS = sample.js;
        editor.setValue(sampleJS, /* cursorPos: */ -1);
        updateGraphie();
    }

    var preloadRegexp = /[&?]preload=([^&=]+)(?:[&=]|$)/;
    var preload = window.location.search.match(preloadRegexp);
    if (preload) {
        var preloadUrl = decodeURIComponent(preload[1]);
        loadUrl(preloadUrl);
    }
});
</script>
{% endblock scripts %}
