{% extends 'layout.html' %}

{% block head %}
{{super()}}
<style type="text/css" media="screen">
    body {
        min-width: 1030px;
    }
    #left {
        float: left;
        margin-right: 10px;
        outline: 1px solid #ccc;
        width: 520px;
    }
    #editor {
        height: 600px;
        border-bottom: 1px solid #ccc;
    }
    #output { 
        float: left;
        min-height: 610px;
        outline: 1px solid #ccc;
        width: 480px;
        padding: 10px;
    }
</style>
{% endblock head %}

{% block content %}
<div id="left">
<div id="editor">graphInit({
    range: 10,
    scale: 20,
    tickStep: 1,
    labelStep: 1,
    unityLabels: false,
    labelFormat: function( s ) { return "\\small{" + s + "}"; },
    axisArrows: "&lt;-&gt;"
});

style({
    stroke: BLUE,
    fill: "none"
});

plot(function(x) {
    // Write down the function you want to plot here
    return -0.5 * x * x + 2 * x + 3.0;
}, [-10, 10]);

style({
    stroke: BLUE,
    fill: BLUE
});

circle([0, 3], 3 / 20);
circle([2, 5], 3 / 20);
circle([6, -3], 3 / 20);
</div>

<input type="button" value="Regraph" class="btn-rerender">
<input type="button" value="Convert to Image" class="btn-create-png">
</div>

<div id="output">
<div class="graphie">
</div>
</div>

{% endblock content %}

{% block scripts %}

{{super()}}
<script src="/static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>

<script>
(function() {
    var updateGraphie = window.updg = _.debounce(function() {
        $("#output > div").text(editor.getValue()).graphie();
    }, 10);

    var editor = ace.edit("editor");
    var session = editor.getSession();

    session.setMode("ace/mode/javascript");
    session.setUseWrapMode(true);

    //session.on("change", updateGraphie);
    editor.commands.addCommand({
        name: "updateGraphie",
        bindKey: {win: "Ctrl-G", mac: "Command-G"},
        exec: updateGraphie,
        readOnly: false
    });
    $(".btn-rerender")
            .val(function() {
                if ((/mac/i).test(navigator.platform)) {
                    return "Regraph (\u2318G)";
                } else {
                    return "Regraph (Ctrl-G)";
                }
            })
            .on("click", updateGraphie);
    updateGraphie();

    $(".btn-create-png").on("click", function() {
        var $form = $("<form action='/png' target='_blank' method='POST'>");
        $form.append($("<input name='js' type='hidden'>").val(
                editor.getValue()));
        $form.submit();
    });
})();
</script>

{% endblock scripts %}
