{% extends 'layout.html' %}

{% block head %}
{{super()}}
<style type="text/css" media="screen">
    body {
        min-width: 1030px;
    }
    #left {
        float: left;
        margin-right: 10px;
        outline: 1px solid #ccc;
        width: 520px;
    }
    #editor {
        height: 600px;
        border-bottom: 1px solid #ccc;
    }
    #samples {
        display: none;
    }
    #output {
        float: left;
        min-height: 610px;
        outline: 1px solid #ccc;
        width: 480px;
        padding: 10px;
    }
    #output .graphie:hover {
        outline: 1px dashed #df0030;
    }
    #output .error {
        font: 12px Menlo, Courier, monospace;
        color: red;
    }
    form.form-create-png {
        display: inline;
    }
</style>
{% endblock head %}

{% block content %}
<div id="left">

<div id="editor"></div>

<script id="grid-setup-pre" type="text/graphie">
// X and Y ranges of the graph
var X_RANGE = [-10, 10];
var Y_RANGE = [-10, 10];

// var STEP = [<x tick step>, <y tick step>];
// var STEP = [10, 25];
var STEP = "auto";

// Width of the graph in pixels
// Let's use 400 for "normal" graphs and 170 for "small" graphs
var SIZE = 400;

var xScale;
var yScale;
setup();
//////////////////////////////////////////////////////////////

</script>

<script id="grid-setup-post" type="text/graphie">

//////////////////////////////////////////////////////////////
// Setup grid, ticks, and labels and initialize graph.
function setup() {
    var dimensions = [SIZE, SIZE];
    var range = [X_RANGE, Y_RANGE];
    var step = STEP;
    if (step === "auto") {
        step = _.map(range, function(extent, i) {
            return Perseus.Util.tickStepFromExtent(
                    extent, dimensions[i]);
        });
    }
    var gridConfig = _.map(range, function(extent, i) {
        return Perseus.Util.gridDimensionConfig(
                step[i],
                extent,
                dimensions[i]);
    });
    var scale = _.pluck(gridConfig, "scale");
    xScale = scale[0];
    yScale = scale[1];
    var paddedRange = _.map(range, function(extent, i) {
        var padding = 25 / scale[i];
        return [extent[0], extent[1] + padding];
    });
    graphInit({
        gridRange: range,
        range: paddedRange,
        scale: scale,
        axisArrows: "<->",
        labelFormat: function(s) {
            return "\\small{" + s + "}";
        },
        gridStep: _.pluck(gridConfig, "gridStep"),
        tickStep: _.pluck(gridConfig, "tickStep"),
        labelStep: 1,
        unityLabels: _.pluck(gridConfig, "unityLabel")
    });
    style({
        clipRect: [[X_RANGE[0], Y_RANGE[0]],
                [X_RANGE[1] - X_RANGE[0],
                Y_RANGE[1] - Y_RANGE[0]]]
    });

    label([0, Y_RANGE[1]], "y", "above");
    label([X_RANGE[1], 0], "x", "right");
}

</script>


<div id="samples">

<script type="text/graphie" data-use-grid="true" data-title="1. Simple plot">
style({
    stroke: BLUE,
    fill: "none"
});

plot(function(x) {
    // Write down the function you want to plot here
    return -0.5 * x * x + 2 * x + 3.0;
}, X_RANGE);
</script>

<script type="text/graphie" data-use-grid="true" data-title="2. Piecewise function">
style({
    stroke: BLUE,
    fill: "none"
});

plot(function(x) {
    return -0.5 * x * x + 2 * x + 3.0;
}, [-10, 3]);

plot(function(x) {
    return x - 7.0;
}, [3, 10]);

ellipse([3, 4.5], [4 / xScale, 4 / yScale], {fill: BLUE});
ellipse([3, -4], [4 / xScale, 4 / yScale], {fill: "white"});
</script>


<script type="text/graphie" data-use-grid="true" data-title="3. Parametric plots">
style({
    stroke: BLUE,
    fill: "none"
});

plotParametric(function(t) {
    // Write down the function you want to plot here as [x, y] in terms of t
    return [4, t];
}, Y_RANGE);

style({
    stroke: GREEN,
    fill: "none"
});

plotParametric(function(t) {
    // Write down the function you want to plot here as [x, y] in terms of t
    return [t + 2 * cos(t), 2 * sin(t)];
}, [-12, 12]);
</script>

<script type="text/graphie" data-title="4. Triangle">
var triangle = solveTriangle({
    sides: [13, 14, 15],
    angles: [null, null, null],
    sideLabels: ["a", "b", "c"],
    angleLabels: ["25^\\circ", null, null],
    vertexLabels: ["A", "B", "C"],

    xPos: 1,
    yPos: 1,
    width: 10,
    height: 6,
    rot: 0
});

triangle = addTriangle(triangle);
init({
    range: [[0, triangle.width + 2], [0, triangle.height + 2]]
});

triangle.draw();
</script>

<script type="text/graphie" data-title="5. Tape diagram">
// Top label for the entire tape
var TOP_LABEL = "\\text{Original Price}";

// Labels for each division. Add as many divisions as you like
var LABELS = [
        "20\\%",
        "20\\%",
        "20\\%",
        "20\\%",
        "20\\%",
    ];

// Label for the left partition
var BOT_LEFT_LABEL = "\\text{Sale Price}";

// Number of divisions in the left partition
var BREAK = 4;

// Label for the right partition
var BOT_RIGHT_LABEL = "$5";

////////////////////////////////////////////////////////////////

var scale = 40;
init({
    range: [[-0.1, 10.1], [0, 4]],
    scale: scale
});

style({ stroke: BLUE });

var boxWidth = 10 / LABELS.length;
_.each(LABELS, function(lbl, n) {
    path([[boxWidth * n, 1.5], [boxWidth * (n + 1), 1.5],
          [boxWidth * (n + 1), 2.5], [boxWidth * n, 2.5], true]);
    label([boxWidth * (n + 0.5), 2], lbl);
});

var BRACE_PATH = "M 0,20" +
        "C 2,17 9,14 18,13" +
        "C 26,11 39,10 58,10" +
        "L 138,10" +
        "C 152,10 162,10 170,9" +
        "C 178,8 185,7 189,6" +
        "C 193,4 197,2 200,0" +
        "C 206,4 213,7 223,8" +
        "C 233,9 248,10 268,10" +
        "L 341,10" +
        "C 359,10 373,11 382,13" +
        "C 387,14 391,15 393,16" +
        "C 396,17 398,18 399,18" +
        "C 399,19 400,19 400,20";

var topBrace = raphael.path(BRACE_PATH);
var botLeftBrace = raphael.path(BRACE_PATH);
var botRightBrace = raphael.path(BRACE_PATH);

botLeftBrace.rotate(180);
botRightBrace.rotate(180);

topBrace.attr({ stroke: GRAY, "stroke-width": 1.5 });
botLeftBrace.attr({ stroke: GRAY, "stroke-width": 1.5 });
botRightBrace.attr({ stroke: GRAY, "stroke-width": 1.5 });

topBrace.scale(scale / 40, scale / 40, 0, 0);
botLeftBrace.scale((BREAK / LABELS.length) * (scale / 40),
        scale / 40, 0, 0);
botRightBrace.scale((1 - (BREAK / LABELS.length)) * (scale / 40),
        scale / 40, 0, 0);

topBrace.translate(scale * 0.1, scale * 0.9);
botLeftBrace.translate(scale * 0.1, scale * 2.6);
botRightBrace.translate(scale * (0.1 + 10 *
        BREAK / LABELS.length), scale * 2.6);


label([5, 3.1], TOP_LABEL, "above");
label([5 * BREAK / LABELS.length, 0.9], BOT_LEFT_LABEL, "below");
label([5 * BREAK / LABELS.length + 5, 0.9], BOT_RIGHT_LABEL,
        "below");
</script>

<script type="text/graphie" data-title="6. Area model">
var CHART = [
        [[2, 3], [BLUE, GRAY]],
        [[4, 6], [BLUE, GRAY]],
        [ ],
        [[1, 1, 1, 1, 1], [RED, ORANGE, GREEN, BLUE, PINK ]]
    ];


init({
    range: [[0, 1], [0, CHART.length]],
    scale: [400,30]
});

_.each(CHART.reverse(), function(row, n) {
    if (row.length) {
        rectchart(row[0], row[1], n);
    }
});
</script>

<script type="text/graphie" data-title="7. Number line">
var RANGE = [-5, 10];
var TICK_STEP = 1;
var LABEL_TICKS = true;

var LABELS = [
    {
        value:      0,
        text:       "0",
        position:   "below",
        color:      BLUE
    },
    {
        value:      5,
        text:       "x",
        position:   "above",
        color:      BLACK
    },
];

var HIGHLIGHTED_TICKS = [
    [ 0, BLUE ],
];

var POINTS = [
    [ 2, RED ],
]

var CIRCLES = [
    [ -4, RED ],
]

var ARROWS = [
    [ 2, 12, RED ],
    [ -4, -7, RED ],
]

///////////////////////////////////////////////////////////////

var SCALE = 400 / (RANGE[1] - RANGE[0]);

init({
    range: [[RANGE[0] - (30 / SCALE), RANGE[1] + (30 / SCALE)],
            [-1, 1]],
    scale: [SCALE, 40]
});

var minusIgnorer = function(a) {
    return (a + "").replace(/-(\d)/g, "\\llap{-}$1");
};

line([RANGE[0] - (25 / SCALE), 0],
     [RANGE[1] + (25 / SCALE), 0], {
    arrows: "->"
});

line([RANGE[1] + (25 / SCALE), 0],
     [RANGE[0] - (25 / SCALE), 0], {
    arrows: "->"
});

for (var x = RANGE[0]; x <= RANGE[1];
        x = roundTo(10, x + TICK_STEP)) {
    line([x, -0.2], [x, 0.2]);
    if (LABEL_TICKS && !_.findWhere(LABELS,
            {value: x, position: "below"})) {
        label([x, -0.53],  minusIgnorer(x), "center");
    }
}

if (typeof(LABELS) !== "undefined") {
    _.each(LABELS, function(lbl) {
        if (lbl.position === "above") {
            label([lbl.value, 0.53],  minusIgnorer(lbl.text),
                    "center", {
                color: lbl.color
            });
        } else {
            label([lbl.value, -0.53],  minusIgnorer(lbl.text),
                    "center", {
                color: lbl.color
            });
        }
    });
}

if (typeof(HIGHLIGHTED_TICKS) !== "undefined") {
    _.each(HIGHLIGHTED_TICKS, function(tick) {
        line([tick[0], -0.2], [tick[0], 0.2], {
            stroke: tick[1],
            strokeWidth: 3.5
        });
    });
}

if (typeof(ARROWS) !== "undefined") {
    _.each(ARROWS, function(arrow) {
        arrow[0] = min(arrow[0], RANGE[1] + (26 / SCALE));
        arrow[0] = max(arrow[0], RANGE[0] - (26 / SCALE));
        arrow[1] = min(arrow[1], RANGE[1] + (26 / SCALE));
        arrow[1] = max(arrow[1], RANGE[0] - (26 / SCALE));
        line([arrow[0], 0 ], [arrow[1], 0], {
            arrows: "->",
            stroke: arrow[2],
            strokeWidth: 3.5
        });
    });
}

if (typeof(POINTS) !== "undefined") {
    _.each(POINTS, function(point) {
        ellipse([point[0], 0],
                [5 / (400 / (RANGE[1] - RANGE[0])), 5 / 40], {
            fill: point[1],
            stroke: null
        });
    });
}

if (typeof(CIRCLES) !== "undefined") {
    _.each(CIRCLES, function(point) {
        ellipse([point[0], 0],
                [5 / (400 / (RANGE[1] - RANGE[0])), 5 / 40], {
            fill: BACKGROUND,
            stroke: point[1],
            strokeWidth: 3
        });
    });
}
</script>

<script type="text/graphie" data-title="8. Place value blocks">
var NUMBER = 123;
var SHOW_LABELS = true;

//////////////////////////////////////////////////////////////

var thousands = floor(NUMBER / 1000)
var hundreds = floor(NUMBER % 1000 / 100)
var tens = floor(NUMBER % 100 / 10)
var ones = NUMBER % 10

var yMax = max(ones + 1.5,
               tens > 0 ? 11.5 : 0,
               hundreds > 0 ? 11.5 : 0,
               thousands > 0 ? 16.5 : 0);

init({
    range: [[0, 3 + (tens * 2) + (hundreds * 11) +
            (thousands * 16)],
            [SHOW_LABELS ? -1 : 0, yMax]],
    scale: [20, 20]
});

var drawCube = function(x, y) {
    path([[x, y + 1],  [x, y], [x + 1, y], [x + 1.5, y + 0.5],
        [x + 1.5, y + 1.5], [x + 0.5, y + 1.5], true]);
    path([[x, y + 1], [x + 1, y + 1], [x + 1, y]]);
    path([[x + 1, y + 1], [x + 1.5, y + 1.5]])
};

style({ fill: "#b2c7ed", stroke: BLUE })

var xPos = 0.5;

_.times(thousands, function(n) {
    _.times(10, function(z) {
        _.times(10, function(y) {
            _.times(10, function(x) {
                if (x === 9 || y === 9 || z === 9) {
                    drawCube(5 + (z * -0.5) + x + xPos +
                        (n * 15.5), 4.5 + (z * -0.5) + y + 0.5);
                }
            });
        });
    });
    if (SHOW_LABELS) {
        label([xPos + (n * 15.5) + 5, -0.2], "1000");
    }
});

xPos += thousands * 15.5 + 0.5;

_.times(hundreds, function(n) {
    _.times(10, function(y) {
        _.times(10, function(x) {
            drawCube(x + xPos + (n * 11), y + 0.5);
        });
    });
    if (SHOW_LABELS) {
        label([xPos + (n * 11) + 5, -0.2], "100");
    }
});

xPos += hundreds * 11;

_.times(tens, function(n) {
    _.times(10, function(y) {
        drawCube(xPos + (n * 2), y + 0.5);
    });
    if (SHOW_LABELS) {
        label([xPos + (n * 2) + 0.5, -0.2], "10");
    }
});

xPos += tens * 2;

_.times(ones, function(y) {
    drawCube(xPos, y + 0.5);
});
if (SHOW_LABELS && ones > 0) {
    label([xPos + 0.5, -0.2], ones);
}
</script>

</div>

<div id="controls">
<input type="button" value="Regraph" class="btn-rerender">
<form action="/png" target="_blank" method="POST" class="form-create-png">
<input type="hidden" name="js">
<input type="submit" value="Convert to Image">
</form>
</div>
</div>

<div id="output">
<div class="graphie">
</div>
</div>

{% endblock content %}

{% block scripts %}

{{super()}}
<script src="/static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>

<script>
(function() {
    var editor = ace.edit("editor");
    var session = editor.getSession();

    var $samples = $("#samples").children();
    var $sampleSelect = $("<select>").appendTo("#controls");
    var gridSetupPre = $("#grid-setup-pre").html();
    var gridSetupPost = $("#grid-setup-post").html();
    var samples = _.map($samples, function(el, i) {
        var $el = $(el);
        var code = $el.html();
        if ($el.data("use-grid")) {
            code = gridSetupPre + code + gridSetupPost;
        }
        var sample = {
            title: $el.data("title"),
            js: $.trim(code) + "\n"
        };
        $("<option>")
                .val(i).text(sample.title)
                .data("js", sample.js)
                .appendTo($sampleSelect);
        return sample;
    });

    var sampleJS = samples[0].js;
    session.setValue(sampleJS);

    // $(window).on("beforeunload", function() {
    //     if (session.getValue() !== sampleJS) {
    //         return "All modifications will be lost.";
    //     }
    // });

    $sampleSelect.val(0).on("change", function() {
        var i = +$(this).val();
        sampleJS = samples[i].js;
        editor.setValue(sampleJS, /* cursorPos: */ -1);
        updateGraphie();
    });

    session.setMode("ace/mode/javascript");
    session.setUseWrapMode(true);

    var isMac = (/mac/i).test(navigator.platform);
    $(document).on("keydown", function(e) {
        if (e.keyCode === "R".charCodeAt(0) &&
                (e.ctrlKey || e.metaKey) && !e.altKey && !e.shiftKey) {
            e.preventDefault();
            updateGraphie();
        }
    });
    $(".btn-rerender")
            .val(function() {
                if (isMac) {
                    return "Regraph (\u2318R)";
                } else {
                    return "Regraph (Ctrl-R)";
                }
            })
            .on("click", updateGraphie);
    updateGraphie();

    $(".form-create-png").on("submit", function() {
        var $form = $(this);
        $form.find("input[type=hidden]").val(editor.getValue());
    });

    function updateGraphie() {
        try {
            $("#output > div")
                    .removeClass("error")
                    .text(editor.getValue()).graphie();
        } catch (e) {
            $("#output > div")
                    .addClass("error")
                    .text(e.name + ": " + e.message);
        }
    }
})();
</script>

{% endblock scripts %}
