<!doctype html>
<html>
<head>
{% block head %}
<title>graphie to png</title>
{% endblock head %}
</head>
<body>
{% block content %}
{% endblock content %}

{% block scripts %}
<script>
    var KhanUtil = {
        debugLog: function() {}
    };
    var Khan = {
        Util: KhanUtil,
        query: {debug: ""},
        error: function() {}
    };
    var Perseus = {};
</script>

<script src="/static/js/khan-exercises/local-only/jquery.js"></script>
<script src="/static/js/khan-exercises/local-only/jed.js"></script>
<script src="/static/js/khan-exercises/local-only/i18n.js"></script>
<script src="/static/js/khan-exercises/local-only/underscore.js"></script>
<script src="/static/js/khan-exercises/utils/MathJax/2.1/MathJax.js?config=KAthJax-da9a7f53e588f3837b045a600e1dc439"></script>

<script src="/static/js/khan-exercises/utils/tmpl.js"></script>
<script src="/static/js/khan-exercises/utils/raphael.js"></script>
<script src="/static/js/khan-exercises/utils/math.js"></script>
<script src="/static/js/khan-exercises/utils/math-format.js"></script>
<script src="/static/js/khan-exercises/utils/graphie.js"></script>
<script src="/static/js/khan-exercises/utils/angles.js"></script>
<script src="/static/js/khan-exercises/utils/matrix.js"></script>
<script src="/static/js/khan-exercises/utils/graphie-geometry.js"></script>
<script src="static/js/khan-exercises/utils/graphie-helpers.js"></script>
<script src="static/js/khan-exercises/utils/graphie-helpers-arithmetic.js"></script>
<script src="static/js/khan-exercises/utils/word-problems.js"></script>

<script src="/static/js/perseus/util.js"></script>
{% endblock scripts %}

</body>
</html>
