{# TODO(alpert): Figure out how to combine this layout with the other one -#}

<!doctype html>
<html>
<head>
<title>graphie to png</title>
<style type="text/css" media="screen">
    body {
        font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 0;
    }
    .graphie .error {
        font: 12px Menlo, Courier, monospace;
        color: red;
    }
</style>
<link rel="stylesheet" href="static/js/khan-exercises/local-only/katex/katex.css" />
</head>
<body>
<div class="graphie">{{js}}</div>

<script>
    var KhanUtil = {
        debugLog: function() {}
    };
    var Khan = {
        Util: KhanUtil,
        query: {debug: ""},
        error: function() {}
    };
    var Perseus = {};
</script>

<script src="static/js/khan-exercises/local-only/jquery.js"></script>
<script src="static/js/khan-exercises/local-only/jed.js"></script>
<script src="static/js/khan-exercises/local-only/i18n.js"></script>
<script src="static/js/khan-exercises/local-only/underscore.js"></script>
<script src="static/js/khan-exercises/utils/MathJax/2.1/MathJax.js?config=KAthJax-da9a7f53e588f3837b045a600e1dc439"></script>

<script src="static/js/khan-exercises/local-only/katex/katex.js"></script>
<script src="static/js/khan-exercises/exercises-stub.js"></script>
<script>Exercises.useKatex = false;</script>
<script src="static/js/khan-exercises/utils/tmpl.js"></script>
<script src="static/js/khan-exercises/utils/tex.js"></script>
<script src="static/js/khan-exercises/utils/raphael.js"></script>
<script src="static/js/khan-exercises/utils/math.js"></script>
<script src="static/js/khan-exercises/utils/math-format.js"></script>
<script src="static/js/khan-exercises/utils/graphie.js"></script>
<script src="static/js/khan-exercises/utils/angles.js"></script>
<script src="static/js/khan-exercises/utils/matrix.js"></script>
<script src="static/js/khan-exercises/utils/graphie-geometry.js"></script>
<script src="static/js/khan-exercises/utils/graphie-helpers.js"></script>
<script src="static/js/khan-exercises/utils/graphie-helpers-arithmetic.js"></script>
<script src="static/js/khan-exercises/utils/word-problems.js"></script>

<script src="static/js/perseus/util.js"></script>

<script>
window.webkit2png = window.webkit2png || {start: $.noop, stop: $.noop};

webkit2png.stop();
try {
    $(".graphie").graphie();
    MathJax.Hub.Queue(function() {
        webkit2png.start();
    });
} catch(e) {
    $(".graphie").empty().append($("<div class='error'>").text(e.message));
    webkit2png.start();
}
</script>

</body>
</html>
