<!doctype html>
<html>
<head>
{% block head %}
<title>graphie to png</title>
{% endblock head %}
<link rel="stylesheet" href="static/css/graphie-to-png.css" />
<link rel="stylesheet" href="static/css/mathjax-renderer/mathjax.css" />
<link rel="stylesheet" href="static/css/mathjax-renderer/safari-hacks.css" />
<link rel="stylesheet" href="static/css/mathjax-renderer/selectable.css" />
<link rel="stylesheet" href="static/css/font-awesome-font.css" />
</head>
<body>
{% block content %}
{% endblock content %}

{% if js %}
<div class="graphie">{{js}}</div>
{% endif %}

{% block scripts %}
<script>
    var KhanUtil = {
        debugLog: function() {}
    };
    var Khan = {
        Util: KhanUtil,
        query: {debug: ""},
        scratchpad: {
            disable: function() {}
        },
        error: function() {}
    };
    var Perseus = {};
</script>
<script>
    // copied from https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign
    if (typeof Object.assign != 'function') {
        (function() {
            Object.assign = function(target) {
                'use strict';
                if (target === undefined || target === null) {
                    throw new TypeError(
                            'Cannot convert undefined or null to object');
                }

                var output = Object(target);
                for (var index = 1; index < arguments.length; index++) {
                    var source = arguments[index];
                    if (source !== undefined && source !== null) {
                        for (var nextKey in source) {
                            if (source.hasOwnProperty(nextKey)) {
                                output[nextKey] = source[nextKey];
                            }
                        }
                    }
                }
                return output;
            };
        })();
    }
</script>

{# For cachebusting, we append the hash of the latest build of
KAthJax to its URL. You'll need to manually update this every time
the KAthJax hash changes: the hash is found at the end of the filename at
khan-exercises/third_party/MathJax/2.1/config/KAthJax-{hash}.js #}
{% set KATHJAX_HASH = "eaf1d9cafdc2fc68897cf72d30d67d5a" %}

<script src="static/js/mathjax-renderer/dist/mathjax-renderer.min.js"></script>
<script src="static/js/mathjax-adapter.js"></script>
<script src="static/js/khan-exercises/local-only/jquery.js"></script>
<script src="static/js/khan-exercises/local-only/jed.js"></script>
<script src="static/js/khan-exercises/local-only/i18n.js"></script>
<script src="static/js/khan-exercises/local-only/localeplanet/icu.en.js"></script>
<script src="static/js/khan-exercises/local-only/underscore.js"></script>

<script src="static/js/khan-exercises/exercises-stub.js"></script>
<script>Exercises.useKatex = true;</script>
<script src="static/js/khan-exercises/local-only/require.js"></script>

<script src="static/js/image-library.js"></script>
<script src="static/js/perseus/util.js"></script>

<script>
window.webkit2png = window.webkit2png || {start: $.noop, stop: $.noop};
window.callPhantom = window.callPhantom || $.noop;
window.keUtilsLoaded = $.Deferred();

webkit2png.stop();

window.i18n = {
    _: $._
};

require([
    "static/js/khan-exercises/utils/tmpl.js",
    "static/js/khan-exercises/utils/tex.js",
    "static/js/khan-exercises/utils/knumber.js",
    "static/js/khan-exercises/utils/kvector.js",
    "static/js/khan-exercises/utils/kmatrix.js",
    "static/js/khan-exercises/utils/kpoint.js",
    "static/js/khan-exercises/utils/kline.js",
    "static/js/khan-exercises/utils/math.js",
    "static/js/khan-exercises/utils/math-format.js",
    "static/js/khan-exercises/utils/graphie.js",
    "static/js/khan-exercises/utils/angles.js",
    "static/js/khan-exercises/utils/expressions.js",
    "static/js/khan-exercises/utils/graphie-geometry.js",
    "static/js/khan-exercises/utils/graphie-polygon.js",
    "static/js/khan-exercises/utils/graphie-helpers.js",
    "static/js/khan-exercises/utils/graphie-helpers-arithmetic.js",
    "static/js/khan-exercises/utils/word-problems.js",
    "static/js/khan-exercises/utils/interactive.js",
    "static/js/khan-exercises/utils/graphie-drawing.js",
    "static/js/khan-exercises/utils/graphie-3d.js",
    "static/js/khan-exercises/utils/time.js"
], function() {

// For backward compatibility with figures created before things were better namespaced
KhanUtil.lineMidpoint = KhanUtil.kline.midpoint;

// Stupid image hack to wait for images to load :(
var waitForImages = function(callback) {
    var $images = $('.graphie > svg > image');
    var imagesLeft = $images.length;
    var checkForLoaded = function() {
        if (imagesLeft === 0) {
            callback();
        }
    };
    var imageWasLoaded = function() {
        imagesLeft--;
        checkForLoaded();
    };

    $.each($images, function() {
        var href = $(this).attr("href");
        if (!href.match(/amazonaws\.com/)) {
            $(".graphie").empty().append($("<div class='error'>").text(
                "only images uploaded with\nperseus may be hotlinked"
            ));
            imageWasLoaded();
            return;
        }
        var tempImage = new Image();
        tempImage.onload = imageWasLoaded;
        tempImage.onerror = imageWasLoaded;
        tempImage.src = href;
    });

    checkForLoaded();
};

/*
 * Inject a function as `graphie.label` so that we can record all of the labels
 * that are created in the graphie. Since the function isn't exposed normally,
 * we have to manually add it each time `createGraphie` is called.
 */
var currLabels = [];
var currRange = null;

var oldCreateGraphie = KhanUtil.createGraphie;
KhanUtil.createGraphie = function() {
    // Call the normal `createGraphie`
    var graphie = oldCreateGraphie.apply(this, arguments);

    // Clear out the list of labels
    currLabels.length = 0;

    // Inject our new label function
    var oldLabel = graphie.label;
    graphie.label = function(/* coordinates, content,
                                alignment, typesetAsMath */) {
        // Call the original label function
        var label = oldLabel.apply(this, arguments);

        // If the last argument of a label is an object, then it is a style
        // object, which we don't want in our real arguments, so we remove it
        var argumentsCopy = Array.prototype.slice.call(arguments);
        if (typeof argumentsCopy[argumentsCopy.length - 1] === "object") {
            argumentsCopy[argumentsCopy.length - 1] = undefined;
        }

        // Pull out the arguments manually since we might have changed their
        // values above
        var coordinates = argumentsCopy[0];
        var content = argumentsCopy[1];
        var alignment = argumentsCopy[2];
        var typesetAsMath = argumentsCopy[3];

        // Undefined `typesetAsMath` means true
        typesetAsMath = typesetAsMath === undefined ? true : !!typesetAsMath;

        var data = {
            content: content,
            coordinates: coordinates,
            alignment: alignment,
            typesetAsMath: typesetAsMath,
            label: label
        };

        var oldSetPosition = label.setPosition;
        var oldProcessMath = label.processMath;
        var oldRemove = label.remove;

        label.setPosition = function(coordinates) {
            data.coordinates = coordinates;
            oldSetPosition.apply(this, arguments);
        };

        label.processMath = function(math, force) {
            data.typesetAsMath = true;
            data.content = math;
            oldProcessMath.apply(this, arguments);
        };

        label.remove = function() {
            currLabels.splice(currLabels.indexOf(data), 1);
            oldRemove.apply(this, arguments);
        };

        // Store the information about the label
        currLabels.push(data);

        // Return the normal label
        return label;
    };

    var oldInit = graphie.init;
    graphie.init = function(options) {
        currRange = options.range;

        return oldInit.apply(this, arguments);
    };

    return graphie;
};

// copied from khan-exercises.js
var randomSeed = new Date().getTime() & 0xffffffff;

// copied from khan-exercises.js
KhanUtil.random = function() {
    // Robert Jenkins' 32 bit integer hash function.
    var seed = randomSeed;
    seed = ((seed + 0x7ed55d16) + (seed << 12)) & 0xffffffff;
    seed = ((seed ^ 0xc761c23c) ^ (seed >>> 19)) & 0xffffffff;
    seed = ((seed + 0x165667b1) + (seed << 5)) & 0xffffffff;
    seed = ((seed + 0xd3a2646c) ^ (seed << 9)) & 0xffffffff;
    seed = ((seed + 0xfd7046c5) + (seed << 3)) & 0xffffffff;
    seed = ((seed ^ 0xb55a4f09) ^ (seed >>> 16)) & 0xffffffff;
    return (randomSeed = (seed & 0xfffffff)) / 0x10000000;
};

// copied from khan-exercises.js
KhanUtil.localeToFixed = function(num, places) {
    var localeDecimalSeperator = icu.getDecimalFormatSymbols().decimal_separator;
    var localeFixed = num.toFixed(places).replace(".", localeDecimalSeperator);
    if (localeFixed === "-0") {
        localeFixed = "0";
    }
    return localeFixed;
};

var ignoredStyles = [
    "stroke-width",
    "fill",
    "opacity",
    "stroke",
    "position",
    "padding-top",
    "padding-right",
    "padding-bottom",
    "padding-left",
    "top",
    "left",
    "margin-left",
    "margin-top",
    "padding-left-value",
    "padding-left-rtl-source",
    "padding-left-ltr-source",
    "padding-right-value",
    "padding-right-rtl-source",
    "padding-right-ltr-source",
    "margin-left-value",
    "margin-left-rtl-source",
    "margin-left-ltr-source",
    "margin-right-value",
    "margin-right-rtl-source",
    "margin-right-ltr-source"
];

var allowedStyles = [
    "color",
    "fill-opacity",
    "font-size",
    "font-weight",
    "transform",
    "transform-origin"
];

// W3C says browser prefixes start with a dash or underscore, have the vendor
// identifier in the middle, and end with a dash. They aren't very clear about
// what a vendor identifier consists of, but all known prefixes are a single
// word, so we match that. There are also some prefixes that don't start with a
// dash or underscore (like `mso-` or `prince-`) but we probably won't encounter
// browsers that use that.
var browserPrefix = /^[-_][a-z]+-/i;

function dePrefix(styleName) {
    if (browserPrefix.test(styleName)) {
        return styleName.replace(browserPrefix, "");
    } else {
        return styleName;
    }
}

function filterLabelData(labelData) {
    var label = labelData.label;

    var labelStyle = label[0].style;

    // Here, we go through all of the CSS styles that are applied to the label,
    // and either pull them out into our list of styles, ignore them because
    // they're added by graphie automatically, or throw an error because it's
    // not an allowed style.
    // (Note that a style has an array part that lists all of the styles names
    // that are applied, as well as a map from the style names to their values.
    // `_.toArray` pulls out the array part)
    var newStyles = {};
    _.each(_.toArray(labelStyle), function(styleName) {
        // jQuery automatically prefixes appropriate CSS properties, so we
        // de-prefix before we do checking
        var realStyleName = dePrefix(styleName);

        if (_.contains(ignoredStyles, realStyleName)) {
            // Ignore styles added by graphie
            return;
        } else if (_.contains(allowedStyles, realStyleName)) {
            // Keep certain allowed styles
            newStyles[realStyleName] = labelStyle[styleName];
        } else {
            // Throw an error otherwise
            throw new Error(
                "Illegal CSS style: '" + realStyleName + "' on \n'"
                + labelData.content + "' label.\nEmail Emily if you "
                + "need this style.");
        }
    });

    var finalData = _.pick(
        labelData, ["content", "coordinates", "alignment",
                    "typesetAsMath"]);

    finalData.style = newStyles;

    // Always stringify content
    finalData.content = finalData.content == null ? "" : "" + finalData.content;

    return finalData;
}

window.getData = function() {
    var labels = _.chain(currLabels)
        .map(function(label) {
            return filterLabelData(label);
        })
        .filter(function(label) {
            return label.content.length > 0;
        })
        .value();

    return {
        range: currRange,
        labels: labels
    };
};

var errorSVG = '<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="300" height="100"><text x="10" y="20" fill="red" font-weight="bold">Error rendering</text></svg>'

window.getSVG = function() {
    var svgNode = $(".graphie > svg")[0];

    if (svgNode) {
        var width = svgNode.getAttribute("width");
        var height = svgNode.getAttribute("height");
        // We manually set a viewBox so that scaled images are rendered in the
        // IEs correctly.
        svgNode.setAttribute("viewBox", "0 0 " + width + " " + height);

        // phantomjs provides no `.outerHTML` function for nodes, so we wrap the
        // svg node in a div and use the wrapper's `.innerHTML` function.
        var wrapper = document.createElement("div");
        wrapper.appendChild(svgNode.cloneNode(true));
        return wrapper.innerHTML;
    } else {
        return errorSVG;
    }
};

try {
    $(".graphie").graphie();

    MathJax.Hub.Queue(function() {
        waitForImages(function() {
            webkit2png.start();
            window.callPhantom({type: "rendered"});
        });
    });
} catch(e) {
    $(".graphie").empty().append($("<div class='error'>").text(e.message));
    webkit2png.start();
    window.callPhantom({type: "rendered"});
}

keUtilsLoaded.resolve();

});
</script>
{% endblock scripts %}

</body>
</html>
