<script id="grid-setup-pre" type="text/graphie">
// X and Y ranges of the graph
var X_RANGE = [-10, 10];
var Y_RANGE = [-10, 10];

// var STEP = [<x tick step>, <y tick step>];
// var STEP = [10, 25];
var STEP = "auto";

// Width of the graph in pixels
var SIZE = 288;

var xScale;
var yScale;
setup();
//////////////////////////////////////////////////////////////

</script>

<script id="grid-setup-post" type="text/graphie">

//////////////////////////////////////////////////////////////
// Setup grid, ticks, and labels and initialize graph.
function setup() {
    var dimensions = [SIZE, SIZE];
    var range = [X_RANGE, Y_RANGE];
    var step = STEP;
    if (step === "auto") {
        step = _.map(range, function(extent, i) {
            return Perseus.Util.tickStepFromExtent(
                    extent, dimensions[i]);
        });
    }
    var gridConfig = _.map(range, function(extent, i) {
        return Perseus.Util.gridDimensionConfig(
                step[i],
                extent,
                dimensions[i]);
    });
    var scale = _.pluck(gridConfig, "scale");
    xScale = scale[0];
    yScale = scale[1];
    graphInit({
        gridRange: range,
        range: range,
        scale: scale,
        axisArrows: "<->",
        labelFormat: function(s) {
            return "\\small{" + s + "}";
        },
        gridStep: _.pluck(gridConfig, "gridStep"),
        tickStep: _.pluck(gridConfig, "tickStep"),
        labelStep: 1,
        unityLabels: _.pluck(gridConfig, "unityLabel")
    });
    style({
        clipRect: [[X_RANGE[0], Y_RANGE[0]],
                [X_RANGE[1] - X_RANGE[0],
                Y_RANGE[1] - Y_RANGE[0]]]
    });

    label([10/xScale, Y_RANGE[1]], "y", "below");
    label([X_RANGE[1]-10/yScale, 0], "x", "above");
}

</script>

<script id="simple-setup-pre" type="text/graphie">
/* The X and Y ranges of this canvas */
var range = RANGE;

/* The output's largest side is limited to this many pixels */
var size = 288;

setup();
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
</script>

<script id="simple-setup-post" type="text/graphie">
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
function setup() {
    var scales = _.map(range, function(extent) {
        return Perseus.Util.scaleFromExtent(extent, size);
    });
    init({range: range, scale: _.min(scales)});
}

</script>

<script id="polar-setup-pre" type="text/graphie">
// radius of the graph
var R_MAX = 6;

// var STEP = [<r tick step>, <theta tick step>];
var STEP = [1, PI/12];

// whether (and how) to label things
var LABEL_R = true;
var LABEL_THETA = true;
var LABEL_DEGREES = false;  // ignored if LABEL_THETA is false

// Width of the graph in pixels
var SIZE = 288;

setup();
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
</script>

<script id="polar-setup-post" type="text/graphie">
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
// Setup grid, ticks, and labels and initialize graph.
function setup() {
    var PADDING = 35;
    if (LABEL_THETA) {
        SIZE -= PADDING * 2;
    }
    var dimensions = [SIZE, SIZE];
    var range = [[-R_MAX, R_MAX], [-R_MAX, R_MAX]];

    var gridConfig = _.map(range, function(extent, i) {
        return Perseus.Util.gridDimensionConfig(
                STEP[0],
                extent,
                dimensions[i]);
    });
    var scale = _.pluck(gridConfig, "scale");

    var paddedRange = range;
    if (LABEL_THETA) {
        paddedRange = _.map(range, function(extent, i) {
            var padding = PADDING / scale[i];
            return [extent[0] - padding, extent[1] + padding];
        });
    }

    init({
        range: paddedRange,
        scale: scale
    });
    for (var r = STEP[0]; r <= R_MAX; r += STEP[0]) {
        circle([0, 0], r, {
            stroke: BLACK,
            opacity: 0.1
        });
        if (LABEL_R && r < R_MAX) {
            label([r, 0], "\\small{" + r + "}", "below");
        }
    }
    for (var theta = 0; theta < 2*PI-1e-9; theta += STEP[1]) {
        line([0, 0], [cos(theta) * R_MAX,
            sin(theta) * R_MAX], {
                stroke: BLACK,
                opacity: 0.1
            });
            if (LABEL_THETA) {
                var lbl = piFraction(theta, true);
                if (LABEL_DEGREES) {
                    lbl = round(theta * 180/PI) + "^\\circ";
                }
                label([cos(theta) * (R_MAX + 20/scale[0]),
                    sin(theta) * (R_MAX + 20/scale[1])],
                    "\\small{" + lbl + "}", "center");
            }
    }
    graphInit({
        grid: false,
        gridRange: range,
        range: paddedRange,
        scale: scale,
        axisArrows: "<->",
        labelFormat: function(s) {
            return "\\small{" + s + "}";
        },
        tickStep: STEP[0]
    });
    style({
        clipRect: [[-R_MAX, -R_MAX],
                [2 * R_MAX, 2 * R_MAX]],
        "plot-points": 10000
    });
}
</script>
